@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";
/* @import 'flowbite/dist/flowbite.css'; */

* {
	font-family: Outfit;
	/* font-weight: 400; */
	font-style: normal;
}

::-webkit-scrollbar {
	display: none;
}

/* Custom Toast Theme */
.Toastify__toast--custom {
	background: #fafafa;
	/* Light beige background */
	color: #5e3b23;
	/* Brown text */
	border-radius: 8px;
	/* Rounded corners */
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	/* Subtle shadow */
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	/* Standard font size */
}

/* Custom Success Toast */
.Toastify__toast--success-custom1 {
	background: #fafafa;
	/* Light beige background */
	color: #5e3b23;
	/* Brown text */
	border-radius: 8px;
	/* Rounded corners */
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	/* Subtle shadow */
	padding: 16px;
	/* Padding */
	text-align: center;
	/* Center text */
}

.Toastify__toast--success-custom1 .Toastify__toast-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	/* Space between elements */
}

.Toastify__toast--success-custom1 .Toastify__close-button {
	color: #6b7280;
	/* Gray close button */
}

.Toastify__toast--success-custom1 .Toastify__progress-bar {
	background: #5e3b23;
	/* Brown progress bar */
}

/* Custom Button */
.Toastify__toast--success-custom1 .Toastify__toast-body button {
	background-color: #5e3b23;
	/* Brown background */
	color: #ffffff;
	/* White text */
	border-radius: 8px;
	/* Rounded corners */
	padding: 10px 15px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.Toastify__toast--success-custom1 .Toastify__toast-body button:hover {
	background-color: #4a2b1c;
	/* Darker brown on hover */
}

a.active hr {
	display: block;
}

@media (max-width: 640px) {
	a.active {
		background-color: black;
		color: white;
	}
}

.prata-regular {
	font-family: "Prata", serif;
	font-weight: 400;
	font-style: normal;
}